.chip {
    color: white;
    border-radius: 7px;
    padding: 2px 10px;
}

.chip.completed {
    background: rgba(0, 128, 0, 0.6);
}
.chip.delivered {
    background: rgba(0, 128, 0, 0.6);
}
.chip.procuring {
    background: rgba(0, 0, 255, 0.6);
}
.chip.waiting-for-payment {
    background: rgba(255, 166, 0, 0.3);
}
.chip.preparing-for-delivery {
    background: rgba(128, 0, 128, 0.6);
}
.chip.waiting-for-pickup {
    background: rgba(128, 0, 128, 0.6);
}
